<?xml version="1.0"?>
<!--
/**
* Copyright 2019 aheadWorks. All rights reserved.
* See LICENSE.txt for license details.
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Aheadworks\AdvancedReports\Ui\DataProvider\MetadataInterface" type="Aheadworks\AdvancedReports\Ui\DataProvider\Metadata" />
    <preference for="Aheadworks\AdvancedReports\Model\ResourceModel\Indexer\Module\ExpressionInterface" type="Aheadworks\AdvancedReports\Model\ResourceModel\Indexer\Module\Expression"/>
    <type name="Magento\Framework\Mview\View\StateInterface">
        <plugin name="aw_arep_disable_change_mode" type="Aheadworks\AdvancedReports\Model\Plugin\IndexerMode" />
    </type>
    <type name="Magento\Framework\View\Asset\Minification">
        <plugin name="aw_arep-core-minification-plugin" type="Aheadworks\AdvancedReports\Model\Plugin\Minification" />
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="aw_arep_salesoverview_grid_data_source" xsi:type="string">Aheadworks\AdvancedReports\Model\ResourceModel\SalesOverview\Grid\Collection</item>
                <item name="aw_arep_productperformance_grid_data_source" xsi:type="string">Aheadworks\AdvancedReports\Model\ResourceModel\ProductPerformance\Grid\Collection</item>
                <item name="aw_arep_productperformance_variantperformance_grid_data_source" xsi:type="string">Aheadworks\AdvancedReports\Model\ResourceModel\ProductVariantPerformance\Grid\Collection</item>
                <item name="aw_arep_salesdetailed_grid_data_source" xsi:type="string">Aheadworks\AdvancedReports\Model\ResourceModel\SalesDetailed\Grid\Collection</item>
                <item name="aw_arep_conversion_grid_data_source" xsi:type="string">Aheadworks\AdvancedReports\Model\ResourceModel\Conversion\Grid\Collection</item>
                <item name="aw_arep_abandonedcarts_grid_data_source" xsi:type="string">Aheadworks\AdvancedReports\Model\ResourceModel\AbandonedCarts\Grid\Collection</item>
                <item name="aw_arep_productconversion_grid_data_source" xsi:type="string">Aheadworks\AdvancedReports\Model\ResourceModel\ProductConversion\Grid\Collection</item>
                <item name="aw_arep_productconversion_variant_grid_data_source" xsi:type="string">Aheadworks\AdvancedReports\Model\ResourceModel\ProductConversionVariant\Grid\Collection</item>
                <item name="aw_arep_category_grid_data_source" xsi:type="string">Aheadworks\AdvancedReports\Model\ResourceModel\Category\Grid\Collection</item>
                <item name="aw_arep_productattributes_grid_data_source" xsi:type="string">Aheadworks\AdvancedReports\Model\ResourceModel\ProductAttributes\Grid\Collection</item>
                <item name="aw_arep_location_grid_data_source" xsi:type="string">Aheadworks\AdvancedReports\Model\ResourceModel\Location\Grid\Collection</item>
                <item name="aw_arep_location_region_grid_data_source" xsi:type="string">Aheadworks\AdvancedReports\Model\ResourceModel\LocationRegion\Grid\Collection</item>
                <item name="aw_arep_location_city_grid_data_source" xsi:type="string">Aheadworks\AdvancedReports\Model\ResourceModel\LocationCity\Grid\Collection</item>
                <item name="aw_arep_couponcode_grid_data_source" xsi:type="string">Aheadworks\AdvancedReports\Model\ResourceModel\CouponCode\Grid\Collection</item>
                <item name="aw_arep_paymenttype_grid_data_source" xsi:type="string">Aheadworks\AdvancedReports\Model\ResourceModel\PaymentType\Grid\Collection</item>
                <item name="aw_arep_manufacturer_grid_data_source" xsi:type="string">Aheadworks\AdvancedReports\Model\ResourceModel\Manufacturer\Grid\Collection</item>
                <item name="aw_arep_customersales_grid_data_source" xsi:type="string">Aheadworks\AdvancedReports\Model\ResourceModel\CustomerSales\Grid\Collection</item>
                <item name="aw_arep_customersales_customers_grid_data_source" xsi:type="string">Aheadworks\AdvancedReports\Model\ResourceModel\CustomerSales\Customers\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Aheadworks\AdvancedReports\Model\ResourceModel\SalesOverview\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">aw_arep_sales_overview</argument>
            <argument name="eventPrefix" xsi:type="string">aw_arep_salesoverview_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">salesoverview_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Aheadworks\AdvancedReports\Model\ResourceModel\SalesOverview</argument>
        </arguments>
    </type>
    <type name="Aheadworks\AdvancedReports\Model\ResourceModel\ProductPerformance\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">aw_arep_product_performance</argument>
            <argument name="eventPrefix" xsi:type="string">aw_arep_productperformance_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">productperformance_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Aheadworks\AdvancedReports\Model\ResourceModel\ProductPerformance</argument>
        </arguments>
    </type>
    <type name="Aheadworks\AdvancedReports\Model\ResourceModel\ProductVariantPerformance\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">aw_arep_product_variant_performance</argument>
            <argument name="eventPrefix" xsi:type="string">aw_arep_productperformance_variantperformance_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">productperformance_variantperformance_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Aheadworks\AdvancedReports\Model\ResourceModel\ProductVariantPerformance</argument>
        </arguments>
    </type>
    <type name="Aheadworks\AdvancedReports\Model\ResourceModel\SalesDetailed\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">aw_arep_sales_detailed</argument>
            <argument name="eventPrefix" xsi:type="string">aw_arep_salesdetailed_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">salesdetailed_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Aheadworks\AdvancedReports\Model\ResourceModel\SalesDetailed</argument>
        </arguments>
    </type>
    <type name="Aheadworks\AdvancedReports\Model\ResourceModel\Conversion\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">aw_arep_conversion</argument>
            <argument name="eventPrefix" xsi:type="string">aw_arep_conversion_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">conversion_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Aheadworks\AdvancedReports\Model\ResourceModel\Conversion</argument>
        </arguments>
    </type>
    <type name="Aheadworks\AdvancedReports\Model\ResourceModel\AbandonedCarts\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">aw_arep_abandoned_carts</argument>
            <argument name="eventPrefix" xsi:type="string">aw_arep_abandonedcarts_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">abandonedcarts_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Aheadworks\AdvancedReports\Model\ResourceModel\AbandonedCarts</argument>
        </arguments>
    </type>
    <type name="Aheadworks\AdvancedReports\Model\ResourceModel\ProductConversion\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">aw_arep_conversion_product</argument>
            <argument name="eventPrefix" xsi:type="string">aw_arep_productconversion_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">productconversion_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Aheadworks\AdvancedReports\Model\ResourceModel\ProductConversion</argument>
        </arguments>
    </type>
    <type name="Aheadworks\AdvancedReports\Model\ResourceModel\ProductConversionVariant\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">aw_arep_conversion_product</argument>
            <argument name="eventPrefix" xsi:type="string">aw_arep_productconversion_variant_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">productconversion_variant_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Aheadworks\AdvancedReports\Model\ResourceModel\ProductConversion</argument>
        </arguments>
    </type>
    <type name="Aheadworks\AdvancedReports\Model\ResourceModel\Category\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">aw_arep_category</argument>
            <argument name="eventPrefix" xsi:type="string">aw_arep_category_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">category_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Aheadworks\AdvancedReports\Model\ResourceModel\Category</argument>
        </arguments>
    </type>
    <type name="Aheadworks\AdvancedReports\Model\ResourceModel\ProductAttributes\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">aw_arep_productattributes</argument>
            <argument name="eventPrefix" xsi:type="string">aw_arep_productattributes_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">productattributes_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Aheadworks\AdvancedReports\Model\ResourceModel\ProductAttributes</argument>
        </arguments>
    </type>
    <type name="Aheadworks\AdvancedReports\Model\ResourceModel\Location\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">aw_arep_location</argument>
            <argument name="eventPrefix" xsi:type="string">aw_arep_location_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">location_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Aheadworks\AdvancedReports\Model\ResourceModel\Location</argument>
        </arguments>
    </type>
    <type name="Aheadworks\AdvancedReports\Model\ResourceModel\LocationRegion\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">aw_arep_location</argument>
            <argument name="eventPrefix" xsi:type="string">aw_arep_location_region_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">location_region_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Aheadworks\AdvancedReports\Model\ResourceModel\Location</argument>
        </arguments>
    </type>
    <type name="Aheadworks\AdvancedReports\Model\ResourceModel\LocationCity\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">aw_arep_location</argument>
            <argument name="eventPrefix" xsi:type="string">aw_arep_location_city_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">location_city_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Aheadworks\AdvancedReports\Model\ResourceModel\Location</argument>
        </arguments>
    </type>
    <type name="Aheadworks\AdvancedReports\Model\ResourceModel\CouponCode\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">aw_arep_coupon_code</argument>
            <argument name="eventPrefix" xsi:type="string">aw_arep_coupon_code_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">coupon_code_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Aheadworks\AdvancedReports\Model\ResourceModel\CouponCode</argument>
        </arguments>
    </type>
    <type name="Aheadworks\AdvancedReports\Model\ResourceModel\PaymentType\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">aw_arep_payment_type</argument>
            <argument name="eventPrefix" xsi:type="string">aw_arep_payment_type_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">payment_type_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Aheadworks\AdvancedReports\Model\ResourceModel\PaymentType</argument>
        </arguments>
    </type>
    <type name="Aheadworks\AdvancedReports\Model\ResourceModel\Manufacturer\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">aw_arep_manufacturer</argument>
            <argument name="eventPrefix" xsi:type="string">aw_arep_manufacturer_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">manufacturer_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Aheadworks\AdvancedReports\Model\ResourceModel\Manufacturer</argument>
        </arguments>
    </type>
    <type name="Aheadworks\AdvancedReports\Model\ResourceModel\CustomerSales\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">aw_arep_customer_sales</argument>
            <argument name="eventPrefix" xsi:type="string">aw_arep_customersales_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">customersales_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Aheadworks\AdvancedReports\Model\ResourceModel\CustomerSales</argument>
        </arguments>
    </type>
    <type name="Aheadworks\AdvancedReports\Model\ResourceModel\CustomerSales\Customers\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">aw_arep_customer_sales</argument>
            <argument name="eventPrefix" xsi:type="string">aw_arep_customersales_customers_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">customersales_customers_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Aheadworks\AdvancedReports\Model\ResourceModel\CustomerSales</argument>
        </arguments>
    </type>
    <type name="Aheadworks\AdvancedReports\Ui\DataProvider\DashboardDataProvider">
        <arguments>
            <argument name="reports" xsi:type="array">
                <item name="sales" xsi:type="string">aw_arep_salesoverview_grid</item>
                <item name="traffic_and_conversions" xsi:type="string">aw_arep_conversion_grid</item>
                <item name="abandoned_carts" xsi:type="string">aw_arep_abandonedcarts_grid</item>
            </argument>
        </arguments>
    </type>
    <type name="Aheadworks\AdvancedReports\Model\Filter\FilterPool">
        <arguments>
            <argument name="filters" xsi:type="array">
                <item name="customer_group" xsi:type="object">Aheadworks\AdvancedReports\Model\Filter\CustomerGroup</item>
                <item name="store" xsi:type="object">Aheadworks\AdvancedReports\Model\Filter\Store</item>
                <item name="period" xsi:type="object">Aheadworks\AdvancedReports\Model\Filter\Period</item>
                <item name="group_by" xsi:type="object">Aheadworks\AdvancedReports\Model\Filter\GroupBy</item>
                <item name="report_settings" xsi:type="object">Aheadworks\AdvancedReports\Model\Filter\ReportSettings</item>
                <item name="range" xsi:type="object">Aheadworks\AdvancedReports\Model\Filter\Range</item>
            </argument>
        </arguments>
    </type>
    <type name="Aheadworks\AdvancedReports\Ui\DataProvider\Filters\FilterApplierPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="customer_group" xsi:type="object">Aheadworks\AdvancedReports\Ui\DataProvider\Filters\DefaultFilter\CustomerGroupId\Applier</item>
                <item name="store" xsi:type="object">Aheadworks\AdvancedReports\Ui\DataProvider\Filters\DefaultFilter\StoreIds\Applier</item>
                <item name="period" xsi:type="object">Aheadworks\AdvancedReports\Ui\DataProvider\Filters\DefaultFilter\Period\Applier</item>
                <item name="group_by" xsi:type="object">Aheadworks\AdvancedReports\Ui\DataProvider\Filters\DefaultFilter\GroupBy\Applier</item>
                <item name="settings_order_statuses" xsi:type="object">Aheadworks\AdvancedReports\Ui\DataProvider\Filters\IndividualFilter\ReportSettings\OrderStatusApplier</item>
                <item name="settings_include_refunded" xsi:type="object">Aheadworks\AdvancedReports\Ui\DataProvider\Filters\IndividualFilter\ReportSettings\IncludeRefundedApplier</item>
                <item name="attribute_conditions" xsi:type="object">Aheadworks\AdvancedReports\Ui\DataProvider\Filters\IndividualFilter\AttributeConditions\Applier</item>
                <item name="customer_sales_website_id" xsi:type="object">Aheadworks\AdvancedReports\Ui\DataProvider\Filters\IndividualFilter\CustomerSales\WebsiteIdApplier</item>
                <item name="range" xsi:type="object">Aheadworks\AdvancedReports\Ui\DataProvider\Filters\IndividualFilter\Range\Applier</item>
                <item name="group_by_chart" xsi:type="object">Aheadworks\AdvancedReports\Ui\DataProvider\Filters\IndividualFilter\GroupByChart\Applier</item>
            </argument>
        </arguments>
    </type>
    <type name="Aheadworks\AdvancedReports\Ui\DataProvider\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="aw_arep_salesoverview_grid_data_source" xsi:type="array">
                    <item name="namespace" xsi:type="string">aw_arep_salesoverview_grid</item>
                    <item name="default_filter_appliers" xsi:type="array">
                        <item name="customer_group" xsi:type="string">customer_group</item>
                        <item name="store" xsi:type="string">store</item>
                        <item name="period" xsi:type="string">group_by</item>
                    </item>
                    <item name="individual_filter_appliers" xsi:type="array">
                        <item name="settings_order_statuses" xsi:type="string">settings_order_statuses</item>
                    </item>
                    <item name="compare_rows_merger" xsi:type="string">period</item>
                    <item name="compare_charts_merger" xsi:type="string">period</item>
                    <item name="compare_totals_merger" xsi:type="string">totals</item>
                </item>
                <item name="aw_arep_productperformance_grid_data_source" xsi:type="array">
                    <item name="namespace" xsi:type="string">aw_arep_productperformance_grid</item>
                    <item name="default_filter_appliers" xsi:type="array">
                        <item name="customer_group" xsi:type="string">customer_group</item>
                        <item name="store" xsi:type="string">store</item>
                        <item name="period" xsi:type="string">period</item>
                    </item>
                    <item name="individual_filter_appliers" xsi:type="array">
                        <item name="settings_order_statuses" xsi:type="string">settings_order_statuses</item>
                    </item>
                    <item name="compare_rows_merger" xsi:type="string">field</item>
                    <item name="compare_rows_merger_config" xsi:type="array">
                        <item name="merge_by_field" xsi:type="string">product_id</item>
                    </item>
                    <item name="compare_charts_merger" xsi:type="string">field</item>
                    <item name="compare_totals_merger" xsi:type="string">totals</item>
                </item>
                <item name="aw_arep_productperformance_variantperformance_grid_data_source" xsi:type="array">
                    <item name="namespace" xsi:type="string">aw_arep_productperformance_variantperformance_grid</item>
                    <item name="default_filter_appliers" xsi:type="array">
                        <item name="customer_group" xsi:type="string">customer_group</item>
                        <item name="store" xsi:type="string">store</item>
                        <item name="period" xsi:type="string">period</item>
                    </item>
                    <item name="individual_filter_appliers" xsi:type="array">
                        <item name="settings_order_statuses" xsi:type="string">settings_order_statuses</item>
                        <item name="group_by_chart" xsi:type="string">group_by_chart</item>
                    </item>
                    <item name="compare_rows_merger" xsi:type="string">field</item>
                    <item name="compare_rows_merger_config" xsi:type="array">
                        <item name="merge_by_field" xsi:type="string">product_id</item>
                    </item>
                    <item name="compare_charts_merger" xsi:type="string">period</item>
                    <item name="compare_charts_merger_config" xsi:type="array"/>
                    <item name="compare_totals_merger" xsi:type="string">totals</item>
                </item>
                <item name="aw_arep_salesdetailed_grid_data_source" xsi:type="array">
                    <item name="namespace" xsi:type="string">aw_arep_salesdetailed_grid</item>
                    <item name="default_filter_appliers" xsi:type="array">
                        <item name="customer_group" xsi:type="string">customer_group</item>
                        <item name="store" xsi:type="string">store</item>
                        <item name="period" xsi:type="string">period</item>
                    </item>
                    <item name="individual_filter_appliers" xsi:type="array">
                        <item name="settings_order_statuses" xsi:type="string">settings_order_statuses</item>
                        <item name="settings_include_refunded" xsi:type="string">settings_include_refunded</item>
                    </item>
                </item>
                <item name="aw_arep_conversion_grid_data_source" xsi:type="array">
                    <item name="namespace" xsi:type="string">aw_arep_conversion_grid</item>
                    <item name="default_filter_appliers" xsi:type="array">
                        <item name="customer_group" xsi:type="string">customer_group</item>
                        <item name="store" xsi:type="string">store</item>
                        <item name="period" xsi:type="string">group_by</item>
                    </item>
                    <item name="individual_filter_appliers" xsi:type="array">
                        <item name="settings_order_statuses" xsi:type="string">settings_order_statuses</item>
                    </item>
                    <item name="compare_rows_merger" xsi:type="string">period</item>
                    <item name="compare_charts_merger" xsi:type="string">period</item>
                    <item name="compare_totals_merger" xsi:type="string">totals</item>
                </item>
                <item name="aw_arep_abandonedcarts_grid_data_source" xsi:type="array">
                    <item name="namespace" xsi:type="string">aw_arep_abandonedcarts_grid</item>
                    <item name="default_filter_appliers" xsi:type="array">
                        <item name="customer_group" xsi:type="string">customer_group</item>
                        <item name="store" xsi:type="string">store</item>
                        <item name="period" xsi:type="string">group_by</item>
                    </item>
                    <item name="individual_filter_appliers" xsi:type="array">
                        <item name="settings_order_statuses" xsi:type="string">settings_order_statuses</item>
                    </item>
                    <item name="compare_rows_merger" xsi:type="string">period</item>
                    <item name="compare_charts_merger" xsi:type="string">period</item>
                    <item name="compare_totals_merger" xsi:type="string">totals</item>
                </item>
                <item name="aw_arep_productconversion_grid_data_source" xsi:type="array">
                    <item name="namespace" xsi:type="string">aw_arep_productconversion_grid</item>
                    <item name="default_filter_appliers" xsi:type="array">
                        <item name="customer_group" xsi:type="string">customer_group</item>
                        <item name="store" xsi:type="string">store</item>
                        <item name="period" xsi:type="string">period</item>
                    </item>
                    <item name="individual_filter_appliers" xsi:type="array">
                        <item name="settings_order_statuses" xsi:type="string">settings_order_statuses</item>
                        <item name="settings_include_refunded" xsi:type="string">settings_include_refunded</item>
                    </item>
                    <item name="compare_rows_merger" xsi:type="string">field</item>
                    <item name="compare_rows_merger_config" xsi:type="array">
                        <item name="merge_by_field" xsi:type="string">product_id</item>
                    </item>
                    <item name="compare_charts_merger" xsi:type="string">field</item>
                    <item name="compare_totals_merger" xsi:type="string">totals</item>
                </item>
                <item name="aw_arep_productconversion_variant_grid_data_source" xsi:type="array">
                    <item name="namespace" xsi:type="string">aw_arep_productconversion_variant_grid</item>
                    <item name="default_filter_appliers" xsi:type="array">
                        <item name="customer_group" xsi:type="string">customer_group</item>
                        <item name="store" xsi:type="string">store</item>
                        <item name="period" xsi:type="string">group_by</item>
                    </item>
                    <item name="individual_filter_appliers" xsi:type="array">
                        <item name="settings_order_statuses" xsi:type="string">settings_order_statuses</item>
                        <item name="settings_include_refunded" xsi:type="string">settings_include_refunded</item>
                    </item>
                    <item name="compare_rows_merger" xsi:type="string">period</item>
                    <item name="compare_charts_merger" xsi:type="string">period</item>
                    <item name="compare_totals_merger" xsi:type="string">totals</item>
                </item>
                <item name="aw_arep_category_grid_data_source" xsi:type="array">
                    <item name="namespace" xsi:type="string">aw_arep_category_grid</item>
                    <item name="default_filter_appliers" xsi:type="array">
                        <item name="customer_group" xsi:type="string">customer_group</item>
                        <item name="store" xsi:type="string">store</item>
                        <item name="period" xsi:type="string">period</item>
                    </item>
                    <item name="individual_filter_appliers" xsi:type="array">
                        <item name="settings_order_statuses" xsi:type="string">settings_order_statuses</item>
                    </item>
                    <item name="compare_rows_merger" xsi:type="string">field</item>
                    <item name="compare_rows_merger_config" xsi:type="array">
                        <item name="merge_by_field" xsi:type="string">category</item>
                    </item>
                    <item name="compare_charts_merger" xsi:type="string">field</item>
                    <item name="compare_totals_merger" xsi:type="string">totals</item>
                </item>
                <item name="aw_arep_productattributes_grid_data_source" xsi:type="array">
                    <item name="namespace" xsi:type="string">aw_arep_productattributes_grid</item>
                    <item name="default_filter_appliers" xsi:type="array">
                        <item name="customer_group" xsi:type="string">customer_group</item>
                        <item name="store" xsi:type="string">store</item>
                        <item name="period" xsi:type="string">group_by</item>
                    </item>
                    <item name="individual_filter_appliers" xsi:type="array">
                        <item name="settings_order_statuses" xsi:type="string">settings_order_statuses</item>
                        <item name="attribute_conditions" xsi:type="string">attribute_conditions</item>
                    </item>
                    <item name="compare_rows_merger" xsi:type="string">period</item>
                    <item name="compare_charts_merger" xsi:type="string">period</item>
                    <item name="compare_totals_merger" xsi:type="string">totals</item>
                </item>
                <item name="aw_arep_location_grid_data_source" xsi:type="array">
                    <item name="namespace" xsi:type="string">aw_arep_location_grid</item>
                    <item name="default_filter_appliers" xsi:type="array">
                        <item name="customer_group" xsi:type="string">customer_group</item>
                        <item name="store" xsi:type="string">store</item>
                        <item name="period" xsi:type="string">period</item>
                    </item>
                    <item name="individual_filter_appliers" xsi:type="array">
                        <item name="settings_order_statuses" xsi:type="string">settings_order_statuses</item>
                    </item>
                    <item name="compare_rows_merger" xsi:type="string">field</item>
                    <item name="compare_rows_merger_config" xsi:type="array">
                        <item name="merge_by_field" xsi:type="string">country_id</item>
                    </item>
                    <item name="compare_totals_merger" xsi:type="string">totals</item>
                </item>
                <item name="aw_arep_location_region_grid_data_source" xsi:type="array">
                    <item name="namespace" xsi:type="string">aw_arep_location_region_grid</item>
                    <item name="default_filter_appliers" xsi:type="array">
                        <item name="customer_group" xsi:type="string">customer_group</item>
                        <item name="store" xsi:type="string">store</item>
                        <item name="period" xsi:type="string">period</item>
                    </item>
                    <item name="individual_filter_appliers" xsi:type="array">
                        <item name="settings_order_statuses" xsi:type="string">settings_order_statuses</item>
                    </item>
                    <item name="compare_rows_merger" xsi:type="string">field</item>
                    <item name="compare_rows_merger_config" xsi:type="array">
                        <item name="merge_by_field" xsi:type="string">region</item>
                    </item>
                    <item name="compare_totals_merger" xsi:type="string">totals</item>
                </item>
                <item name="aw_arep_location_city_grid_data_source" xsi:type="array">
                    <item name="namespace" xsi:type="string">aw_arep_location_city_grid</item>
                    <item name="default_filter_appliers" xsi:type="array">
                        <item name="customer_group" xsi:type="string">customer_group</item>
                        <item name="store" xsi:type="string">store</item>
                        <item name="period" xsi:type="string">period</item>
                    </item>
                    <item name="individual_filter_appliers" xsi:type="array">
                        <item name="settings_order_statuses" xsi:type="string">settings_order_statuses</item>
                    </item>
                    <item name="compare_rows_merger" xsi:type="string">field</item>
                    <item name="compare_rows_merger_config" xsi:type="array">
                        <item name="merge_by_field" xsi:type="array">
                            <item name="0" xsi:type="string">country_id</item>
                            <item name="1" xsi:type="string">region</item>
                            <item name="2" xsi:type="string">city</item></item>
                    </item>
                    <item name="compare_totals_merger" xsi:type="string">totals</item>
                </item>
                <item name="aw_arep_couponcode_grid_data_source" xsi:type="array">
                    <item name="namespace" xsi:type="string">aw_arep_couponcode_grid</item>
                    <item name="default_filter_appliers" xsi:type="array">
                        <item name="customer_group" xsi:type="string">customer_group</item>
                        <item name="store" xsi:type="string">store</item>
                        <item name="period" xsi:type="string">period</item>
                    </item>
                    <item name="individual_filter_appliers" xsi:type="array">
                        <item name="settings_order_statuses" xsi:type="string">settings_order_statuses</item>
                    </item>
                    <item name="compare_rows_merger" xsi:type="string">field</item>
                    <item name="compare_rows_merger_config" xsi:type="array">
                        <item name="merge_by_field" xsi:type="string">coupon_code</item>
                    </item>
                    <item name="compare_totals_merger" xsi:type="string">totals</item>
                </item>
                <item name="aw_arep_paymenttype_grid_data_source" xsi:type="array">
                    <item name="namespace" xsi:type="string">aw_arep_paymenttype_grid</item>
                    <item name="default_filter_appliers" xsi:type="array">
                        <item name="customer_group" xsi:type="string">customer_group</item>
                        <item name="store" xsi:type="string">store</item>
                        <item name="period" xsi:type="string">period</item>
                    </item>
                    <item name="individual_filter_appliers" xsi:type="array">
                        <item name="settings_order_statuses" xsi:type="string">settings_order_statuses</item>
                    </item>
                    <item name="compare_rows_merger" xsi:type="string">field</item>
                    <item name="compare_rows_merger_config" xsi:type="array">
                        <item name="merge_by_field" xsi:type="string">method</item>
                    </item>
                    <item name="compare_charts_merger" xsi:type="string">field</item>
                    <item name="compare_totals_merger" xsi:type="string">totals</item>
                </item>
                <item name="aw_arep_manufacturer_grid_data_source" xsi:type="array">
                    <item name="namespace" xsi:type="string">aw_arep_manufacturer_grid</item>
                    <item name="default_filter_appliers" xsi:type="array">
                        <item name="customer_group" xsi:type="string">customer_group</item>
                        <item name="store" xsi:type="string">store</item>
                        <item name="period" xsi:type="string">period</item>
                    </item>
                    <item name="individual_filter_appliers" xsi:type="array">
                        <item name="settings_order_statuses" xsi:type="string">settings_order_statuses</item>
                    </item>
                    <item name="compare_rows_merger" xsi:type="string">field</item>
                    <item name="compare_rows_merger_config" xsi:type="array">
                        <item name="merge_by_field" xsi:type="string">manufacturer</item>
                    </item>
                    <item name="compare_charts_merger" xsi:type="string">field</item>
                    <item name="compare_totals_merger" xsi:type="string">totals</item>
                </item>
                <item name="aw_arep_customersales_grid_data_source" xsi:type="array">
                    <item name="namespace" xsi:type="string">aw_arep_customersales_grid</item>
                    <item name="default_filter_appliers" xsi:type="array">
                        <item name="customer_group" xsi:type="string">customer_group</item>
                        <item name="store" xsi:type="string">store</item>
                        <item name="period" xsi:type="string">period</item>
                    </item>
                    <item name="individual_filter_appliers" xsi:type="array">
                        <item name="settings_order_statuses" xsi:type="string">settings_order_statuses</item>
                        <item name="settings_include_refunded" xsi:type="string">settings_include_refunded</item>
                        <item name="customer_sales_website_id" xsi:type="string">customer_sales_website_id</item>
                    </item>
                    <item name="compare_rows_merger" xsi:type="string">field</item>
                    <item name="compare_rows_merger_config" xsi:type="array">
                        <item name="merge_by_field" xsi:type="string">sales_range</item>
                    </item>
                    <item name="compare_charts_merger" xsi:type="string">field</item>
                    <item name="compare_totals_merger" xsi:type="string">totals</item>
                </item>
                <item name="aw_arep_customersales_customers_grid_data_source" xsi:type="array">
                    <item name="namespace" xsi:type="string">aw_arep_customersales_customers_grid</item>
                    <item name="default_filter_appliers" xsi:type="array">
                        <item name="customer_group" xsi:type="string">customer_group</item>
                        <item name="store" xsi:type="string">store</item>
                        <item name="period" xsi:type="string">period</item>
                    </item>
                    <item name="individual_filter_appliers" xsi:type="array">
                        <item name="settings_order_statuses" xsi:type="string">settings_order_statuses</item>
                        <item name="range" xsi:type="string">range</item>
                    </item>
                    <item name="compare_rows_merger" xsi:type="string">customerSalesCustomer</item>
                    <item name="compare_totals_merger" xsi:type="string">totals</item>
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="AwArepFilterPoolForDashboard" type="Aheadworks\AdvancedReports\Model\Filter\FilterPool">
        <arguments>
            <argument name="filters" xsi:type="array">
                <item name="customer_group" xsi:type="object">Aheadworks\AdvancedReports\Model\Filter\Dashboard\CustomerGroup</item>
                <item name="store" xsi:type="object">Aheadworks\AdvancedReports\Model\Filter\Dashboard\Store</item>
                <item name="period" xsi:type="object">Aheadworks\AdvancedReports\Model\Filter\Dashboard\Period</item>
                <item name="group_by" xsi:type="object">Aheadworks\AdvancedReports\Model\Filter\Dashboard\GroupBy</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="AwArepFilterApplierPoolForDashboard" type="Aheadworks\AdvancedReports\Ui\DataProvider\Filters\FilterApplierPool">
        <arguments>
            <argument name="filterPool" xsi:type="object">AwArepFilterPoolForDashboard</argument>
        </arguments>
    </virtualType>
    <virtualType name="AwArepReportingForDashboard" type="Aheadworks\AdvancedReports\Ui\DataProvider\Reporting">
        <arguments>
            <argument name="reportFilterApplierPool" xsi:type="object">AwArepFilterApplierPoolForDashboard</argument>
        </arguments>
    </virtualType>
    <virtualType name="AwArepDataProviderForDashboard" type="Aheadworks\AdvancedReports\Ui\DataProvider\DataProvider">
        <arguments>
            <argument name="reporting" xsi:type="object">AwArepReportingForDashboard</argument>
        </arguments>
    </virtualType>
    <virtualType name="AwArepDataProvider" type="Aheadworks\AdvancedReports\Ui\DataProvider\DataProvider">
        <arguments>
            <argument name="reporting" xsi:type="object">Aheadworks\AdvancedReports\Ui\DataProvider\Reporting</argument>
        </arguments>
    </virtualType>
    <type name="Aheadworks\AdvancedReports\Ui\DataProvider\Compare\Merger\Processor\Pool">
        <arguments>
            <argument name="mergers" xsi:type="array">
                <item name="period" xsi:type="string">Aheadworks\AdvancedReports\Ui\DataProvider\Compare\Merger\Processor\Period</item>
                <item name="totals" xsi:type="string">Aheadworks\AdvancedReports\Ui\DataProvider\Compare\Merger\Processor\Totals</item>
                <item name="field" xsi:type="string">Aheadworks\AdvancedReports\Ui\DataProvider\Compare\Merger\Processor\Field</item>
                <item name="customerSalesCustomer" xsi:type="string">Aheadworks\AdvancedReports\Ui\DataProvider\Compare\Merger\Processor\CustomerSalesCustomer</item>
            </argument>
        </arguments>
    </type>
</config>
