<?xml version="1.0"?>
<!--
/**
* Copyright 2019 aheadWorks. All rights reserved.
* See LICENSE.txt for license details.
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Ui\Model\Export\MetadataProvider">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="aw_arep_customersales_customers_grid" xsi:type="array">
                    <item name="last_login_at" xsi:type="string">last_login_at</item>
                    <item name="last_order_at" xsi:type="string">last_order_at</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Aheadworks\AdvancedReports\Model\Toolbar\MenuPool">
        <arguments>
            <argument name="menuItems" xsi:type="array">
                <item name="dashboard" xsi:type="array">
                    <item name="path" xsi:type="string">*/dashboard/index</item>
                    <item name="label" xsi:type="string">Dashboard</item>
                    <item name="resource" xsi:type="string">Aheadworks_AdvancedReports::reports_dashboard</item>
                    <item name="controller" xsi:type="string">dashboard</item>
                </item>
                <item name="salesoverview" xsi:type="array">
                    <item name="path" xsi:type="string">*/salesoverview/index</item>
                    <item name="label" xsi:type="string">Sales Overview</item>
                    <item name="resource" xsi:type="string">Aheadworks_AdvancedReports::reports_salesoverview</item>
                    <item name="controller" xsi:type="string">salesoverview</item>
                </item>
                <item name="productperformance" xsi:type="array">
                    <item name="path" xsi:type="string">*/productperformance/index</item>
                    <item name="label" xsi:type="string">Product Performance</item>
                    <item name="resource" xsi:type="string">Aheadworks_AdvancedReports::reports_productperformance</item>
                    <item name="controller" xsi:type="string">productperformance</item>
                </item>
                <item name="salesdetailed" xsi:type="array">
                    <item name="path" xsi:type="string">*/salesdetailed/index</item>
                    <item name="label" xsi:type="string">Sales Detailed</item>
                    <item name="resource" xsi:type="string">Aheadworks_AdvancedReports::reports_salesdetailed</item>
                    <item name="controller" xsi:type="string">salesdetailed</item>
                </item>
                <item name="conversion" xsi:type="array">
                    <item name="path" xsi:type="string">*/conversion/index</item>
                    <item name="label" xsi:type="string">Traffic and Conversions</item>
                    <item name="resource" xsi:type="string">Aheadworks_AdvancedReports::reports_conversion</item>
                    <item name="controller" xsi:type="string">conversion</item>
                </item>
                <item name="abandonedcarts" xsi:type="array">
                    <item name="path" xsi:type="string">*/abandonedcarts/index</item>
                    <item name="label" xsi:type="string">Abandoned Carts</item>
                    <item name="resource" xsi:type="string">Aheadworks_AdvancedReports::reports_abandonedcarts</item>
                    <item name="controller" xsi:type="string">abandonedcarts</item>
                </item>
                <item name="category" xsi:type="array">
                    <item name="path" xsi:type="string">*/category/index</item>
                    <item name="label" xsi:type="string">Sales by Category</item>
                    <item name="resource" xsi:type="string">Aheadworks_AdvancedReports::reports_category</item>
                    <item name="controller" xsi:type="string">category</item>
                </item>
                <item name="productattributes" xsi:type="array">
                    <item name="path" xsi:type="string">*/productattributes/index</item>
                    <item name="label" xsi:type="string">Sales by Product Attributes</item>
                    <item name="resource" xsi:type="string">Aheadworks_AdvancedReports::reports_productattributes</item>
                    <item name="controller" xsi:type="string">productattributes</item>
                </item>
                <item name="location" xsi:type="array">
                    <item name="path" xsi:type="string">*/location/index</item>
                    <item name="label" xsi:type="string">Sales by Location</item>
                    <item name="resource" xsi:type="string">Aheadworks_AdvancedReports::reports_location</item>
                    <item name="controller" xsi:type="string">location</item>
                </item>
                <item name="couponcode" xsi:type="array">
                    <item name="path" xsi:type="string">*/couponcode/index</item>
                    <item name="label" xsi:type="string">Sales by Coupon Code</item>
                    <item name="resource" xsi:type="string">Aheadworks_AdvancedReports::reports_couponcode</item>
                    <item name="controller" xsi:type="string">couponcode</item>
                </item>
                <item name="paymenttype" xsi:type="array">
                    <item name="path" xsi:type="string">*/paymenttype/index</item>
                    <item name="label" xsi:type="string">Sales by Payment Type</item>
                    <item name="resource" xsi:type="string">Aheadworks_AdvancedReports::reports_paymenttype</item>
                    <item name="controller" xsi:type="string">paymenttype</item>
                </item>
                <item name="manufacturer" xsi:type="array">
                    <item name="path" xsi:type="string">*/manufacturer/index</item>
                    <item name="label" xsi:type="string">Sales by Manufacturer</item>
                    <item name="resource" xsi:type="string">Aheadworks_AdvancedReports::reports_manufacturer</item>
                    <item name="controller" xsi:type="string">manufacturer</item>
                </item>
                    <item name="customersales" xsi:type="array">
                    <item name="path" xsi:type="string">*/customersales/index</item>
                    <item name="label" xsi:type="string">Customer Sales</item>
                    <item name="resource" xsi:type="string">Aheadworks_AdvancedReports::reports_customersales</item>
                    <item name="controller" xsi:type="string">customersales</item>
                </item>
                <item name="settings" xsi:type="array">
                    <item name="path" xsi:type="string">adminhtml/system_config/edit/section/aw_advancedreports</item>
                    <item name="label" xsi:type="string">Settings</item>
                    <item name="resource" xsi:type="string">Aheadworks_AdvancedReports::settings</item>
                </item>
                <item name="readme" xsi:type="array">
                    <item name="label" xsi:type="string">Readme</item>
                    <item name="link_attributes" xsi:type="array">
                        <item name="href" xsi:type="string">http://confluence.aheadworks.com/display/EUDOC/Advanced+Reports+-+Magento+2</item>
                        <item name="target" xsi:type="string">_blank</item>
                    </item>
                    <item name="additional_classes" xsi:type="array">
                        <item name="separator" xsi:type="boolean">true</item>
                    </item>
                </item>
                <item name="support" xsi:type="array">
                    <item name="label" xsi:type="string">Get Support</item>
                    <item name="link_attributes" xsi:type="array">
                        <item name="href" xsi:type="string">http://ecommerce.aheadworks.com/contacts/</item>
                        <item name="target" xsi:type="string">_blank</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
