<?xml version="1.0"?>
<!--
/**
* Copyright 2019 aheadWorks. All rights reserved.
* See LICENSE.txt for license details.
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Aheadworks_AdvancedReports::main" title="Advanced Reports by Aheadworks" module="Aheadworks_AdvancedReports" sortOrder="999" dependsOnModule="Aheadworks_AdvancedReports" parent="Magento_Reports::report" resource="Aheadworks_AdvancedReports::main"/>
        <add id="Aheadworks_AdvancedReports::reports_dashboard" title="Dashboard" module="Aheadworks_AdvancedReports" sortOrder="5" parent="Aheadworks_AdvancedReports::main" action="advancedreports/dashboard" resource="Aheadworks_AdvancedReports::reports_dashboard"/>
        <add id="Aheadworks_AdvancedReports::reports_salesoverview" title="Sales Overview" module="Aheadworks_AdvancedReports" sortOrder="10" parent="Aheadworks_AdvancedReports::main" action="advancedreports/salesoverview" resource="Aheadworks_AdvancedReports::reports_salesoverview"/>
        <add id="Aheadworks_AdvancedReports::reports_productperformance" title="Product Performance" module="Aheadworks_AdvancedReports" sortOrder="20" parent="Aheadworks_AdvancedReports::main" action="advancedreports/productperformance" resource="Aheadworks_AdvancedReports::reports_productperformance"/>
        <add id="Aheadworks_AdvancedReports::reports_salesdetailed" title="Sales Detailed" module="Aheadworks_AdvancedReports" sortOrder="30" parent="Aheadworks_AdvancedReports::main" action="advancedreports/salesdetailed" resource="Aheadworks_AdvancedReports::reports_salesdetailed"/>
        <add id="Aheadworks_AdvancedReports::reports_conversion" title="Traffic and Conversions" module="Aheadworks_AdvancedReports" sortOrder="40" parent="Aheadworks_AdvancedReports::main" action="advancedreports/conversion" resource="Aheadworks_AdvancedReports::reports_conversion"/>
        <add id="Aheadworks_AdvancedReports::reports_abandonedcarts" title="Abandoned Carts" module="Aheadworks_AdvancedReports" sortOrder="50" parent="Aheadworks_AdvancedReports::main" action="advancedreports/abandonedcarts" resource="Aheadworks_AdvancedReports::reports_abandonedcarts"/>
        <add id="Aheadworks_AdvancedReports::reports_category" title="Sales by Category" module="Aheadworks_AdvancedReports" sortOrder="60" parent="Aheadworks_AdvancedReports::main" action="advancedreports/category" resource="Aheadworks_AdvancedReports::reports_category"/>
        <add id="Aheadworks_AdvancedReports::reports_productattributes" title="Sales by Product Attributes" module="Aheadworks_AdvancedReports" sortOrder="70" parent="Aheadworks_AdvancedReports::main" action="advancedreports/productattributes" resource="Aheadworks_AdvancedReports::reports_productattributes"/>
        <add id="Aheadworks_AdvancedReports::reports_location" title="Sales by Location" module="Aheadworks_AdvancedReports" sortOrder="80" parent="Aheadworks_AdvancedReports::main" action="advancedreports/location" resource="Aheadworks_AdvancedReports::reports_location"/>
        <add id="Aheadworks_AdvancedReports::reports_couponcode" title="Sales by Coupon Code" module="Aheadworks_AdvancedReports" sortOrder="90" parent="Aheadworks_AdvancedReports::main" action="advancedreports/couponcode" resource="Aheadworks_AdvancedReports::reports_couponcode"/>
        <add id="Aheadworks_AdvancedReports::reports_paymenttype" title="Sales by Payment Type" module="Aheadworks_AdvancedReports" sortOrder="100" parent="Aheadworks_AdvancedReports::main" action="advancedreports/paymenttype" resource="Aheadworks_AdvancedReports::reports_paymenttype"/>
        <add id="Aheadworks_AdvancedReports::reports_manufacturer" title="Sales by Manufacturer" module="Aheadworks_AdvancedReports" sortOrder="110" parent="Aheadworks_AdvancedReports::main" action="advancedreports/manufacturer" resource="Aheadworks_AdvancedReports::reports_manufacturer"/>
        <add id="Aheadworks_AdvancedReports::reports_customersales" title="Customer Sales" module="Aheadworks_AdvancedReports" sortOrder="120" parent="Aheadworks_AdvancedReports::main" action="advancedreports/customersales" resource="Aheadworks_AdvancedReports::reports_customersales"/>
    </menu>
</config>