<?xml version="1.0"?>
<!--
/**
* Copyright 2019 aheadWorks. All rights reserved.
* See LICENSE.txt for license details.
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="aheadworks" translate="label" sortOrder="200">
            <label>Aheadworks Extensions</label>
        </tab>
        <section id="aw_advancedreports" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Advanced Reports</label>
            <tab>aheadworks</tab>
            <resource>Aheadworks_AdvancedReports::settings</resource>
            <group id="general" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="order_status" translate="label" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Order Statuses</label>
                    <source_model>Aheadworks\AdvancedReports\Model\Source\OrderStatus</source_model>
                </field>
                <field id="ranges" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ranges</label>
                    <frontend_model>Aheadworks\AdvancedReports\Block\Adminhtml\Form\Field\Range</frontend_model>
                    <backend_model>Aheadworks\AdvancedReports\Model\Config\Backend\Range</backend_model>
                </field>
                <field id="manufacturer_attribute" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Manufacturer Attribute</label>
                    <source_model>Aheadworks\AdvancedReports\Model\Source\ManufacturerAttribute</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
