#aw-arep__data_grid-geochart-container {
    width: 100%;
    display: inline-table;
    text-align: center;
}

#aw-arep__data_grid-geochart {
    display: inline-block;
    text-align: left;
}

#aw-arep__data_grid-geochart-legend{
    font-family: Arial;
    font-size: 13px;
    display: inline-block;
    text-align: left;
    margin-left: 40px;
    vertical-align: top;
}

#aw-arep__data_grid-geochart-legend .selected::before {
    position: absolute;
    margin: 3px 0 0 -16px;
    vertical-align: middle;
    display: inline-block;
    width: 11px;
    height: 11px;
    background: #109618;
    content: "";
}

#aw-arep__data_grid-geochart-legend .unselected::before {
    position: absolute;
    margin: 3px 0 0 -16px;
    vertical-align: middle;
    display: inline-block;
    width: 11px;
    height: 11px;
    background: #ccc;
    content: "";
}

.advancedreports-customersales-index .data-row th .url a {
    color: #ffffff;
}