@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&display=swap');
/*		font-family: 'Rubik', sans-serif; 	*/
@font-face {
	font-family: 'work_sansblack';
	src: url('../fonts/worksans-black-webfont.eot');
	src: url('../fonts/worksans-black-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/worksans-black-webfont.woff2') format('woff2'),
	url('../fonts/worksans-black-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'work_sansbold';
	src: url('../fonts/worksans-bold-webfont.eot');
	src: url('../fonts/worksans-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/worksans-bold-webfont.woff2') format('woff2'),
	url('../fonts/worksans-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'work_sansextrabold';
	src: url('../fonts/worksans-extrabold-webfont.eot');
	src: url('../fonts/worksans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/worksans-extrabold-webfont.woff2') format('woff2'),
	url('../fonts/worksans-extrabold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'work_sansextralight';
	src: url('../fonts/worksans-extralight-webfont.eot');
	src: url('../fonts/worksans-extralight-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/worksans-extralight-webfont.woff2') format('woff2'),
	url('../fonts/worksans-extralight-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'work_sanslight';
	src: url('../fonts/worksans-light-webfont.eot');
	src: url('../fonts/worksans-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/worksans-light-webfont.woff2') format('woff2'),
	url('../fonts/worksans-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'work_sansmedium';
	src: url('../fonts/worksans-medium-webfont.eot');
	src: url('../fonts/worksans-medium-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/worksans-medium-webfont.woff2') format('woff2'),
	url('../fonts/worksans-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'work_sansregular';
	src: url('../fonts/worksans-regular-webfont.eot');
	src: url('../fonts/worksans-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/worksans-regular-webfont.woff2') format('woff2'),
	url('../fonts/worksans-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'work_sanssemibold';
	src: url('../fonts/worksans-semibold-webfont.eot');
	src: url('../fonts/worksans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/worksans-semibold-webfont.woff2') format('woff2'),
	url('../fonts/worksans-semibold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	
}
@font-face {
	font-family: 'work_sansthin';
	src: url('../fonts/worksans-thin-webfont.eot');
	src: url('../fonts/worksans-thin-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/worksans-thin-webfont.woff2') format('woff2'),
	url('../fonts/worksans-thin-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	
}
@media (min-width: 767px) {
	.padding-full {
		padding-right: 15px !important;
		padding-left: 15px !important;
	}
	.no-padding {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.no-padding-left {
		padding-left: 0 !important;
	}
	.no-padding-right {
		padding-right: 0 !important;
	}
}
body {
	background: #fff;
	font-weight: 400;
	font-family: 'work_sansregular' !important;
	font-family: 'Roboto', sans-serif !important;
}
button.add-to-cart-btn {
	float: none;
	background: #fabe07 !important;
	font-size: 14px !important;
	color: #000 !important;
	text-decoration: none;
	padding: 7px 30px 5px;
	font-weight: 500;
	border-radius: 4px;
	display: table;
	margin: 0 auto;
	transition: 0.3s;
}
button.add-to-cart-btn:hover {
	background: #f0b501 !important;
}
.pro-main-box button {
	text-decoration: none !important;
}
p,
ul li {
	font-weight: 400;
	color: #6d6e71;
	font-size: 1.6rem;
	line-height: 1.6em;
}
ul li {
	list-style: none;
}
ul li i.fa {
	color: #0295a0;
	margin-right: 6px;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 0px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
	border-radius: 0px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #0295a0;
}
/*@media (max-width: 1399px) and (min-width: 1250px){*/
/*.container {*/
/*padding: 0 40px;*/
/*}*/
/*}*/
@media (min-width: 767px) {
	.container {
		min-width: 767px;
		max-width: 1400px;
		margin: auto;
		width: 100%;
		*zoom: 1;
		transition: width .2s ease-out;
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
}
/*header*/
header {
	background: #02a6b2;
}
.header-top {
	padding: 8px 0;
	border-bottom: 1px solid #59c7ce;
}
.inner-right-parent {
	width: auto;
	float: right;
}
.form-header {
	width: 520px;
	position: relative;
	float: left;
}
.form-header button {
	color: #fff;
	background: #fabe07;
	border: none;
	border-radius: 4px;
	position: absolute;
	top: 4px;
	right: 4px;
	outline: none;
	height: 40px;
	width: 40px;
	font-size: 18px;
}
.form-header input {
	position: relative;
	height: 48px;
	border: none;
	background: #fff;
	box-shadow: none;
	border-radius: 4px;
	color: #000;
}
.header-right {
	padding: 22px 0 21px;
}
.form-header input::-webkit-input-placeholder {
	color: #585858 !important;
	font-size: 13px;
	line-height: 26px;
}
.form-header input:-moz-placeholder { /* Firefox 18- */
	color: #585858 !important;
	font-size: 13px;
	line-height: 26px;
}
.form-header input::-moz-placeholder { /* Firefox 19+ */
	color: #585858 !important;
	font-size: 13px;
	line-height: 26px;
}
.form-header input:-ms-input-placeholder {
	color: #585858 !important;
	font-size: 13px;
	line-height: 26px;
}
.account-login {
	border: 1px solid #59c7ce;
	float: left;
	border-radius: 4px;
	padding: 10px 25px;
	margin: 0 12px;
}
.accout-details h3 {
	color: #fff;
	font-size: 12px;
	margin: 0 0 4px;
}
.accout-details h4 {
	color: #fabe07;
	font-size: 12px;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 50px;
	margin-top: 6px;
}
.accout-ico {
	float: left;
	margin-right: 12px;
	position: relative;
	top: 0px;
}
.accout-details {
	float: left;
}
.pro-cart {
	border: 1px solid #fabe07;
	float: left;
	border-radius: 4px;
	padding: 7px 28px 6px;
	margin: 0;
	background: #fabe07;
}
.pro-cart-details h3 {
	color: #fff;
	font-size: 12px;
	margin: 3px 0 1px;
}
.pro-cart-details h4 {
	color: #fff;
	font-size: 12px;
	margin: 0;
}
.pro-cart-ico {
	float: left;
	margin-right: 12px;
}
.pro-cart-details {
	float: left;
}
.pro-cart .accout-ico {
	margin-right: 8px;
}
.header-bottom-menu ul li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	display: block;
}
.header-bottom-menu ul li {
	display: table;
	float: left;
	width: 20%;
	text-align: center;
	padding: 16px 0 13px;
	transition: 0.3s;
}
.header-bottom-menu ul li a span.caret {
	color: #fabe07;
	border-top: 6px dashed;
	border-top: 6px solid \9;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	position: relative;
	top: -3px;
}
.header-bottom-menu ul li.active {
	background: #0295a0;
}
.header-bottom-menu ul li:last-of-type {
	background: #fabe07;
}
.header-bottom-menu ul li:last-of-type a {
	color: #000;
}
.header-bottom-menu ul li:hover:last-of-type {
	background: #fabe07;
}
/*header css*/

/*bottom serv*/
.bottom-services-details {
	background: rgba(245, 250, 251, 0.2);
	background: -moz-linear-gradient(top, rgba(245, 250, 251, 0.2) 0%, rgba(171, 216, 227, 0.2) 100%);
	background: -webkit-linear-gradient(top, rgba(245, 250, 251, 0.2) 0%, rgba(171, 216, 227, 0.2) 100%);
	background: linear-gradient(to bottom, rgba(245, 250, 251, 0.2) 0%, rgba(171, 216, 227, 0.2) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5fafb', endColorstr='#abd8e3', GradientType=0);
	border-bottom: 1px solid #d6e2e6;
}
.serv-ico-box img {
	float: left;
	margin-right: 10px;
	display: inline-block;
	margin-top: 0px;
	max-width: 40px;
}
.serv-ico-box h5 {
	color: rgba(0, 0, 0, 0.5);
	font-weight: 700;
	font-size: 14px;
	line-height: 14px;
	margin: 0;
	position: relative;
	top: 4px;
	float: left;
}
.serv-ico-box {
	width: 20%;
	float: left;
	padding: 22px 20px;
	border-left: 1px solid #e1e1e1;
}
.serv-ico-box:last-of-type {
	border-right: 1px solid #35B9C2 !important
}
.serv-ico-inr {
	display: table;
	margin: 0 auto;
}
/*bottom serv end*/

/*slider*/
.slider-home .owl-dots {
	margin: auto;
	display: table;
	position: absolute;
	z-index: 9999;
	bottom: -25px;
	left: 50%;
	right: 0;
	transform: translateX(-50%);
	width: auto !important;
}
.slider-home {
    margin-bottom: 0;
}
.slider-home .owl-dot {
	width: 10px;
	height: 10px;
	background-color: transparent;
	margin: 0 2px 0px;
	border-radius: 50%;
	display: inline-table;
	text-align: center;
	border: 1px solid #02a6b2;
}
.slider-home .owl-dot.active {
	background: #fff;
	transition: 0.5s;
}
.img-slider-box img {
	width: 100%;
}
.img-slider-box:first-of-type {
	margin-bottom: 25px;
}
.slid-parent {
	padding-right: 19px;
}
.slid-img {
	position: relative;
}
.slider-cap {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding-left: 25px;
}
.img-slider-box {
	position: relative;
}
.img-slider-box:first-of-type .slider-cap.small-slid {
	padding-left: initial;
	right: 25px;
}
.slider-cap.small-slid h3 {
	color: #000;
	font-size: 28px;
	line-height: 30px;
	text-transform: uppercase;
	font-family: 'work_sansbold';
	font-family: 'Roboto', sans-serif !important;
	font-weight: 700;
}
.slider-cap.small-slid h3 span {
	display: block;
	font-family: 'work_sansregular';
	font-family: 'Roboto', sans-serif !important;
}
.slider-cap.small-slid a.sho-btn-main {
	margin-top: 10px;
}
.img-slider-box:first-of-type .slider-cap.small-slid a.sho-btn-main {
	background: #fabe07;
}
.img-slider-box:first-of-type .slider-cap.small-slid a.sho-btn-main:hover {
	background: #e4ae07;
}
/*slider end*/

/*sec-2*/
h2.main-title {
	/*
		color: #000;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 30px;
		line-height: 36px;
		margin: 0 0 70px;
	*/
	display: inline-block;
	margin-top: 0;
	margin-bottom: 20px;
	padding: 0;
	font-weight: 600;
	color: #000;
	margin-right: 20px;
}
.cat-main-name {
	text-align: center;
	margin-bottom: 60px;
}
.cat-main-name h3 {
	text-align: center;
	color: #6d6e71;
	font-size: 16px;
	line-height: 24px;
	margin: 10px 0 0;
	font-weight: 700;
	transition: 0.3s;
	padding: 8px 0;
}
/*
.cat-main-name a:hover h3 {
	color: #fff;
	background: #000;
}
*/
.cat-main-name a {
	text-decoration: none;
}
.cat-main-name img {
	width: 90%;
	margin: 20px auto 0;
	display: table;
}
.slider-cap h4 {
	background: #fabc10;
	display: inline-block;
	margin: 0;
	padding: 5px 15px;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
}
.slider-cap h2 {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 56px;
	line-height: 60px;
	color: #fff;
	font-family: 'work_sansbold';
	font-family: 'Roboto', sans-serif !important;
	text-shadow: 1px 0px 5px #000;
}
.slider-cap h3 {
	margin: 0;
	color: #fff;
	font-size: 20px;
	line-height: 30px;
}
.slider-cap h3 i {
	color: #fabc10;
	text-decoration: underline;
}
a.sho-btn-main {
	background: #03949e;
	color: #fff;
	display: block;
	float: left;
	margin-top: 20px;
	padding: 10px 35px 8px;
	border-radius: 4px;
	font-size: 16px;
	text-transform: uppercase;
	transition: 0.3s;
	text-decoration: none !important;
}
a.sho-btn-main:hover {
	background: #04787f;
}
/*sec-2 end*/

/*sec3 brand */
.brands-arrow > div {
	font-family: 'Rubik', sans-serif;
	font-family: 'Nanum Gothic', sans-serif;
	cursor: pointer;
	float: left;
	border: 2px solid #fabe07;
	padding: 0;
	font-size: 16px;
	line-height: 32px;
	transition: 0.3s;
	width: 35px;
	height: 35px;
	margin-left: 6px;
	color: #fabe07;
	font-weight: 700;
	cursor: pointer;
	border-radius: 4px;
}
.brands-arrow > div:hover,
.title-bar a:hover {
	background: #f0b501 !important;
}
.title-bar a {
	float: left;
	background: #fabe07;
	font-size: 16px;
	color: #000;
	text-decoration: none;
	padding: 7px 30px 5px;
	font-weight: 700;
	border-radius: 4px;
	margin-left: 0;
	margin-bottom: 12px;
}
.title-bar h2 {
	float: left;
	margin-bottom: 0;
	font-size: 2.3rem;
	line-height: 1.8em;
}
.brands-main .title-bar {
	margin-bottom: 10px;
	display: table;
	width: 100%;
}
.brands-arrow {
	float: right;
}
.brands-arrow .owl-prev-h {
	/*border-radius: 100%; */
	cursor: pointer;
	padding: 0 13px 0 10px;
}
.brands-arrow .owl-next-h {
	/* border-radius: 100%; */
	cursor: pointer;
	padding: 0 10px 0 12px;
}
.brand-logo img {
	max-width: 100%;
	width: auto !important;
	display: table !important;
	margin: 0 auto;
}
.brands-main {
	margin-bottom: 20px;
}
.brands-logo-parent {
	float: left;
	width: 100%;
}
/*sec3 brand  end*/

/*sec4 pro*/
.products-main .title-bar {
	margin-bottom: 12px;
	display: table;
	width: 100%;
}
.pro-parent-img img {
	width: 100%;
}
.pro-parent-img {
	padding-right: 0;
	position: relative;
}
.img-con-pro {
	position: absolute;
	top: 40px;
	width: 200px;
	left: 60px;
}
.img-con-pro h4 {
	font-size: 30px;
	color: #000;
	text-transform: uppercase;
	line-height: 30px;
	font-weight: 600;
	margin: 0px 0 15px;
	position: relative;
	padding: 0px 0 16px;
}
.img-con-pro h4:after {
	content: "";
	background: #000;
	width: 70px;
	height: 3px;
	position: absolute;
	left: 0;
	bottom: 0;
}
.img-con-pro h4 span {
	font-size: 22px;
	display: block;
	line-height: 36px;
}
.img-con-pro p {
	color: #000;
	font-size: 13px;
	line-height: 18px;
}
.pro-main-box h5 {
	color: #58595b;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	margin: 20px 0 8px;
	max-height: 38px;
	overflow: hidden;
	padding: 0 12px;
	font-size: 1.6rem;
	line-height: 1.2;
}
.product.details h5 {
	min-height: 54px;
	overflow: hidden;
}
.pro-main-box {
	text-align: center;
	padding: 12px 0;
}
.home-style.home-page-3 .owl-stage-outer .item {
	border: none;
	transition: 0.3s;
}
/*
.owl-stage-outer .item:hover {
    border: 1px solid #ccc;
}
*/
.products-grid #products2 .item {
	padding-top: 12px;
}
.prics-box {
	float: left;
	width: 100%;
	padding: 0 8px;
}
.prics-box span.cut-pri {
	color: #6d6e71;
	font-size: 14px;
	font-weight: 600;
	text-decoration: line-through;
	float: left;
}
.prics-box span.orig-pri {
	color: #fabc10;
	font-size: 14px;
	font-weight: 600;
	float: right;
}
.pro-main-box ul li {
	float: left;
	border: 1px solid #ebebeb;
	border-radius: 2px;
	margin: 0 2px;
	width: 48px;
	font-size: 14px;
	color: #000;
	font-weight: 600;
	cursor: pointer;
	padding: 5px 0;
	text-align: center;
}
.pro-main-box ul li.active {
	background: #fabe07;
	border: 1px solid #fabe07;
}
.pro-main-box-ul {
	display: table;
	margin: 15px auto 15px;
	float: left;
	width: 100%;
}
.pro-main-box ul {
	display: table;
	margin: 0 auto 0;
}
a.add-to-cart-btn {
	float: none;
	background: #fabe07;
	font-size: 16px;
	color: #000;
	text-decoration: none;
	padding: 7px 30px 5px;
	font-weight: 700;
	border-radius: 4px;
	display: table;
	margin: 0 auto;
	transition: 0.3s;
}
a.add-to-cart-btn:hover {
	background: #f0b501;
}
.prics-box span em {
	font-style: initial;
}
.product-parent-2 {
	margin-top: 50px;
}
.products-main {
margin-bottom: 40px;
}
/*sec4 pro end*/
/*sec-5 */
.sale-banner {
    height: auto;
	background-size: cover !important;
	background-position: center !important;
}
.offer-parent h4 {
	color: #000;
	font-size: 46px;
	text-transform: uppercase;
	font-weight: 700;
	font-family: 'work_sansbold';
	font-family: 'Roboto', sans-serif !important;
	margin: 0 0 5px;
}
.offer-parent h2 {
	font-family: 'work_sansbold';
	font-family: 'Roboto', sans-serif !important;
	font-weight: 700;
	color: #fcc60e;
	font-size: 60px;
	margin: 0;
	line-height: 66px;
}
.offer-parent a.sho-btn-main {
	margin-top: 5px;
}
.offer-parent {
	margin-top: 90px;
}
/*sec-5 end*/
/*sec-6 shop pet*/
.shop-pet-main {
	padding: 0 0 0;
}
.shp-pet-box {
	position: relative;
	margin-bottom: 30px;
}
.shp-pet-box img {
	width: 100%;
}
.shp-pet-box a {
	position: relative;
	float: left;
	width: 100%;
}
.shp-pet-box h3 {
	color: #fff;
	font-size: 26px;
	line-height: 30px;
	position: absolute !important;
	bottom: 25px;
	left: 0;
	right: 0;
	margin: 0 auto;
	display: table;
	width: calc(100% - 30px);
	text-align: center;
	text-transform: uppercase;
	font-family: 'work_sansbold';
	font-family: 'Roboto', sans-serif !important;
	font-weight: 700;
}
.shop-pet-main h2.main-title {
	margin-bottom: 20px;
	margin-top: 22px;
}
/*sec-6 shop pet end*/

/*footer css */
footer {
	background: #363636;
}
.footer-top {
	padding: 70px 0;
	position: relative;
}
.footer-top:before {
	content: "";
	background: #2c2c2c;
	position: absolute;
	width: 28%;
	height: 100%;
	top: 0;
}
.foot-col h4 {
	color: #fabc10;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: 600;
	font-family: 'work_sansmedium';
	font-family: 'Roboto', sans-serif !important;
	margin: 0 0 20px;
}
.foot-col ul li,
.foot-col ul li a {
	color: #fff;
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 8px;
	text-decoration: none;
	transition: 0.3s;
}
.foot-col ul li a:hover {
	color: #fabc10;
	padding-left: 5px;
}
.foot-col ul li i.fa {
	color: #fabc10;
	width: 30px;
	text-align: center;
	font-size: 16px;
}
img.Footer-lgo {
	margin: 20px 0 0 0;
}
.foot-col ul li i.fa.fa-map-marker {
	height: 40px;
	float: left;
	position: relative;
	top: 10px;
	font-size: 20px;
}
.social-foot ul li a {
	color: #fabc10;
}
.social-foot ul li a i.fa {
	width: 20px;
}
.social-foot img {
	margin: 5px 0;
}
.footer-bottom {
	background: #02a6b2;
}
.footer-bottom p {
	margin: 0;
	text-align: center;
	color: #fff;
	font-size: 16px;
	line-height: 24px;
	padding: 20px 0 17px;
}
/*footer css end*/

/*breadcrumps*/
.bread ul li, .bread ul li a {
	color: rgba(0, 0, 0, .6);
	font-family: 'work_sansmedium';
	font-family: 'Roboto', sans-serif !important;
	font-weight: 600;
	text-decoration: none;
	transition: 0.3s;
	text-transform: uppercase;
}
.bread ul li a:hover {
	color: #fabc10;
}
.bread ul li {
	float: left;
	margin-right: 10px;
}
.breadcrumps {
	padding: 10px 0;
}
/*breadcrumps end*/

/*brand sc2*/
.brand-box-main img {
	width: 100%;
}
.brand-box-main {
	width: 20%;
	float: left;
	padding: 0 15px;
	box-sizing: border-box;
	padding-bottom: 30px;
}
.brand-box-inner {
	border: 1px solid #e5e5e5;
	padding: 12px;
	min-height: 290px;
	display: flex;
	align-items: center;
}
.brand-box-inner:hover {
	-webkit-box-shadow: inset 0 0 0 0.2rem #ccc;
	box-shadow: inset 0 0 0 0.2rem #ccc;
}
.brand-box-inner a {
	text-decoration: none;
}
.brands-all {
	padding: 40px 0 60px;
}
.brand-box-inner h3 {
	color: #1e1e1e;
	font-size: 20px;
	text-align: center;
	margin: 10px 0 0;
	line-height: 24px;
}
/*brand sc2 end*/

/*menu css*/
.menu-mega {
	display: table;
	width: calc(100% - 30px);
	height: 630px;
	position: absolute;
	top: 53px;
	z-index: 9999999999;
	left: 15px;
	background: #0295a0;
	margin: 0 auto;
	border-radius: 0 0 4px 4px;
	display: none;
}
.header-bottom-menu {
	position: relative;
}
.header-bottom-menu .container {
	position: relative;
}
.menu-cat {
	width: 20%;
	float: left;
	height: 100%;
}
.menu-cat {
	width: 20%;
	float: left;
	height: 100%;
}
.menu-cat ul {
	width: 88%;
	height: 100%;
	float: right;
	padding-top: 25px;
}
.menu-cat ul li.active,
.menu-cat ul li:hover {
	background: #fff !important;
	border-radius: 3px 0 0 3px;
}
.menu-cat ul li.active a,
.menu-cat ul li.active i.fa,
.menu-cat ul li:hover a,
.menu-cat ul li:hover i.fa {
	color: #0295a0 !important;
}
.menu-mega-open {
	background: #fff;
	width: 80%;
	height: 100%;
	float: right;
	border-right: 13px solid #0295a0;
	border-bottom: 13px solid #0295a0;
	border-radius: 0 0 4px 0;
	padding: 30px 0 0 20px;
}
.menu-cat ul li {
	width: 100%;
	text-align: left;
	padding: 0;
	position: relative;
	margin-bottom: 10px;
}
.menu-cat ul li a {
	font-size: 19px;
	line-height: 26px;
	padding: 12px 15px 9px;
}
.menu-cat ul li:last-of-type,
.menu-cat ul li:hover:last-of-type {
	background: transparent;
	color: #fff;
}
.menu-cat ul li:last-of-type a {
	color: #fff;
}
.menu-cat ul li a i.fa {
	color: #fff;
	float: right;
	margin-right: 0px;
	font-size: 26px;
	position: relative;
	top: -2px;
}
.menu-col h3 {
	color: #036d75;
	font-size: 22px;
	line-height: 28px;
	margin: 0 0 20px;
	font-weight: 600;
}
.menu-col ul li {
	float: none;
	text-align: left;
	width: auto;
	display: block;
	padding: 8px 0;
}
.menu-col ul li a {
	color: #5d5d5d;
	font-size: 12px;
	line-height: 16px;
	transition: 0.3s;
}
.menu-col ul li:hover a {
	color: #fabe07;
}
.menu-col h3 {
	color: #036d75;
	font-size: 18px;
	line-height: 24px;
	margin: 0 0 20px;
	text-transform: uppercase;
	min-height: 48px;
}
.menu-col ul li:last-of-type {
	background: transparent;
}
.menu-col ul li:last-of-type a {
	color: #5d5d5d;
}
.menu-col ul li:hover:last-of-type {
	background: #fff;
}
.menu-col {
	border-right: 1px solid #fabe07;
	width: 19%;
	float: left;
	padding: 0 15px;
}
.menu-col:last-of-type {
	border-right: none;
	width: 62%;
	float: left;
	padding: 0 15px;
}
.menu-col:last-of-type ul {
	width: 30%;
	float: left;
}
.menu-img {
	width: 40%;
	float: left;
}
.menu-img img {
	width: 100%;
	border-radius: 100%;
	padding-left: 15px;
}
.menu-col .title-bar {
	float: left;
	width: 100%;
}
.menu-col .title-bar a {
	margin-left: 0;
}
.menu-col ul {
	min-height: 240px;
}
.f-row {
	float: left;
	width: 100%;
}
.brand-menu-logos {
	float: left;
	width: 100%;
	margin-top: 40px;
	padding-top: 30px;
	border-top: 1px solid #0295a0;
}
.logo-main-parnt {
	width: 16.6666%;
	float: left;
}
.menu-b-logo {
	float: left;
	width: 100%;
}
.logo-main-parnt img {
	width: auto;
	max-width: 100%;
}
.m-none {
	display: none;
}
.m-show {
	display: block !important;
}
/*menu css end*/

/*all=products*/
.inner-img-cap {
	position: absolute;
	top: 50%;
	z-index: 9;
	width: 100%;
	transform: translateY(-50%);
}
.inner-img {
	position: relative;
}
.inner-img-cap h2 {
	color: #fff;
	font-size: 46px;
	line-height: 50px;
	font-weight: 700;
	font-family: 'work_sansbold';
	font-family: 'Roboto', sans-serif !important;
	width: 340px;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.39);
}
.pro-all a.list-group-item {
	background: #fabe07;
	color: #000 !important;
	border: none;
	font-size: 16px !important;
	font-weight: 600;
	border-radius: 4px !important;
	margin-bottom: 3px !important;
	padding: 8px 10px !important;
}
.pro-all a.list-group-item i.fa {
	float: right;
	position: relative;
	top: 5px;
	font-size: 14px;
}
.pro-all ul li a {
	color: #747474;
	font-size: 14px;
	line-height: 20px;
	display: block;
	text-decoration: none;
	/* border-bottom: 1px solid #cdcdcd; */
	padding: 10px 25px 8px;
}
.pro-all ul li:last-of-type a {
	border-bottom: none;
}
.pro-all .list-group.panel {
	border: none;
	box-shadow: none;
	margin: 0;
}
.sec-2.pro-all {
	padding: 90px 0;
}
.home-block {
	float: left;
	width: 100%;
}
.cat-pro-row .title-bar {
	margin-bottom: 40px;
}
.cat-pro-row {
	float: left;
	width: 100%;
	border-bottom: 1px solid #cdcdcd;
	margin-bottom: 30px;
	padding-bottom: 30px;
}
.cat-pro-row:last-of-type {
	margin-bottom: 0;
	padding-bottom: 0;
	border: none;
}
.pro-main-box a {
	text-decoration: none !important;
}
.pro-cart-main {
	margin-bottom: 60px;
}
.categ-content {
	float: left;
	width: 100%;
	/*border-top: 1px solid #cdcdcd;*/
	margin-top: 0px;
	padding-top: 5px;
}
.categ-content p {
	color: #58595b;
	font-size: 16px;
	line-height: 24px;
}
.categ-content h3 {
	color: #000;
	font-size: 35px;
	line-height: 44px;
	text-transform: uppercase;
	font-family: 'work_sansmedium';
	font-family: 'Roboto', sans-serif !important;
	font-weight: 600;
}
div#showmore-button-1 {
	background: #fabe07;
	font-size: 16px;
	color: #000;
	text-decoration: none;
	font-weight: 700;
	display: block;
	float: left;
	margin-top: 30px;
	padding: 10px 35px 8px;
	border-radius: 4px;
	text-transform: uppercase;
	transition: 0.3s;
	text-decoration: none !important;
	cursor: pointer;
}
div#showmore-button-1:hover {
	background: #f0b501;
}
.prics-box.main-pro-pag span.orig-pri {
	color: #232323;
	font-size: 18px;
	float: none;
	margin-left: 5px;
}
.prics-box.main-pro-pag span.cut-pri {
	float: none;
}
.in-main-pro-pag {
	display: table;
	margin: 5px auto 15px;
}
.cat-pro-col .cat-pro-row {
	margin-bottom: 0;
	padding-bottom: 0;
	border: none;
}
.cat-sidebar h3 {
	background: #fabe07;
	color: #000;
	border: none;
	font-size: 16px;
	font-weight: 600;
	border-radius: 4px;
	float: left;
	width: 100%;
	position: relative;
	display: block;
	padding: 12px 15px;
	margin-bottom: 5px;
	margin-top: 0;
}
.cat-sidebar ul {
	float: left;
	width: 100%;
}
.cat-sidebar {
	margin-bottom: 15px;
	float: left;
	width: 100%;
}
.search-bar-pro h4 {
	color: #a4a4a4;
	font-size: 14px;
	line-height: 30px;
	margin: 0;
	float: left;
}
.search-bar-pro {
	padding: 12px 0;
	float: left;
	width: 100%;
	border: 1px solid rgba(164, 164, 164, 0.59);
	border-left: 0;
	border-right: 0;
	margin: 40px 0;
}
.select-boxes label {
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 0;
}
.select-boxes label:nth-of-type(2) {
	margin-left: 30px;
}
.select-boxes select {
	border: 1px solid rgba(164, 164, 164, 0.59);
	padding: 3px 10px;
	outline: none;
	font-size: 14px;
}
.select-boxes {
	float: right;
}
/*all=products end*/

@media (max-width: 767px) {
	.serv-ico-box {
		width: 100%;
		float: left;
		padding: 22px 20px;
		border: none !important;
	}
	.form-create-account .fieldset.create.info .field-name-firstname, .form-create-account .fieldset.create.info .field-name-lastname {
		width: 100%;
	}
	.form-create-account .actions-toolbar {
		padding: 30px 30px 70px;
	}
	.products-main .title-bar {
		padding: 0 30px;
	}
	.product.details h5,
	.pro-main-box h5 {
		overflow: hidden;
		font-size: 13px;
		line-height: 19px;
		padding-right: 12px;
	}
	.pro-main-box h5 {
		margin: 5px 0 8px;
	}
	.category-description img {
		height: 150px;
		object-fit: cover;
	}
	.category-description {
		margin-bottom: 10px;
	}
}
.fotorama__thumb-border {
	border: 1px solid #02a6b2 !important;
}
.image-cat:hover {
	border: 1px solid rgba(204, 204, 204, 0.62);
}
.image-cat {
	border: 1px solid transparent;
}
div#products2 .owl-stage-outer {
	padding: 0 10px;
}
.pro-main-box h5 {
	display: grid !important;
}
.products-grid .product-image-photo {
	/* width: 50% !important; */
	/* height: 210px !important; */
	height: 232px !important;
	padding: 10px;
}
.fotorama__stage__frame .fotorama__img {
	padding: 20px !important;
}
.products-main .product-image-photo {
	/* width: 50% !important; */
	/* height: 175px !important; */
	height: 212px !important;
	width: auto !important;
}
@media (min-width: 767px) {
	login-container .block-customer-login .block-title, .login-container .block-new-customer .block-title {
		font-size: 100%;
		padding: 0;
		border-top: 0 !important;
	}
	.form-create-account .fieldset.create.info .field-name-firstname, .form-create-account .fieldset.create.info .field-name-lastname {
		width: 100%;
	}
	.form-create-account .fieldset {
		min-height: 420px !important;
		width: 100%;
	}
	.form-create-account .fieldset.create.info {
		float: left;
		width: 100% !important;
	}
	.product.details.product-item-details {
		min-height: 254px !important;
	}
	.product-item-inner {
		position: absolute;
		bottom: 30px;
		left: 0;
		right: 0;
	}
	.swatch-attribute{
		float: left;
		width: 100%;
		min-height: 88px !important;
	}
}
.header-style-3 .header-bottom.fix-menu {
	border-top: 1px solid #35B9C2;
	position: fixed;
	z-index: 9999;
	width: 100%;
	top: 0;
	color: #fff !important;
	background: #35B9C2 !important;
	box-shadow: 0 0.3rem 0.5rem 0 rgba(0, 0, 0, .25);
}
.header-style-3 .header-bottom.fix-menu .ves-megamenu li.level0 > a {
	line-height: 69px !important;
	color: #ffffff !important;
}
@media only screen and (min-width: 768px) {
	.ves-megamenu.menu-hover .dropdown:hover > .dropdown-menu {
		display: block;
		z-index: 99;
		top: 69px !important;
	}
	.ves-megamenu .dynamic-items li > a > .caret {
		color: #fabe07 !important;
		top: 10px !important;
		border: none !important;
		background: url("https://www.thepetstore.ae/pub/media/icons8-chevron-down-261.png") no-repeat;
		width: 26px;
		height: 26px;
		-ms-transform: rotate(20deg); /* IE 9 */
		-webkit-transform: rotate(20deg); /* Safari 3-8 */
		transform: rotate(-90deg);
	}
	.nav-item.submenu-left.dropdown-submenu > a > span > strong {
		font-size: 18px !important;
	}
	.nav-item.submenu-left.subhover.dropdown-submenu > a {
		font-size: 14px !important;
		line-height: 28px !important;
	}
}

@media (min-width: 767px) and (max-width: 1024px) {
	.form-header {
		width: 230px !important;
		position: relative;
		float: left;
	}
	.account-login {
		padding: 8px 15px !important;
	}
	.pro-cart {
		padding: 8px 12px !important;
	}
	.header-style-3 .header-bottom .searchbox-header {
		display: none;
	}
	.ves-megamenu .nav-item > a {
		padding: 0 40px !important;
	}
	.dynamic-items.col-xs-2.hidden-xs.hidden-sm {
		width: 26%;
	}
	.dynamic-content.col-xs-10.hidden-xs.hidden-sm {
		width: 70%;
	}
	.megamenu-footer {
		border-bottom: 2px solid #64BDC4;
		border-top: none;
		padding-top: 0;
		margin-bottom: 30px;
		padding-bottom: 20px;
	}
	.serv-ico-box img {
		float: none;
		margin-right: 0;
		display: table;
		margin-top: 0px;
		max-width: 40px;
		margin: 0 auto 5px;
	}
	.bottom-services-details {
		display: none;
	}
	.slider-cap h2 {
		font-size: 28px;
		line-height: 30px;
	}
	.slider-cap h4 {
		font-size: 14px;
	}
	.slider-cap.small-slid h3 {
		font-size: 18px;
		line-height: 20px;
	}
	.slider-cap h3 {
		font-size: 16px;
		line-height: 24px;
	}
	a.sho-btn-main {
		margin-top: 10px;
	}
	.offer-parent h2 {;
		color: #fcc60e !important;
		font-size: 36px !important;
		line-height: 46px !important;
	}
	.offer-parent h4 {
		font-size: 30px !important;
	}
	.sale-banner {
		background-position: center left -470px !important;
	}
	.img-slider-box:first-of-type {
		margin-bottom: 5px;
	}
}
@media (min-width: 991px) and (max-width: 1024px) {
	.form-header {
		width: 330px !important;
		position: relative;
		float: left;
	}
	.ves-megamenu .nav-item > a {
		padding: 0 60px !important;
	}
}
.top-menu-brand li {
	display: inline-table;
	max-width: initial !important;
	width: 15% !important;
	margin: 0 5px 20px 0px !important;
	text-align: center !important;
	border: 1px solid #ccc;
	padding: 10px 0;
	border-radius: 4px;
}
.top-menu-brand li img {
	width: 90%;
	max-width: initial;
}
@media only screen and (min-width: 768px){
	ul.top-menu-brand li a {
		padding: 0 !important;
	}
}
.ves-megamenu .dropdown-menu .megamenu-footer ul.top-menu-brand li a {
	padding: 0 !important;
}
.ves-megamenu .dropdown-menu .megamenu-footer {
float: left;
margin-top: 25px !important;
width: 100%;
margin-left: 8px !important;
}
.top-menu-brand li:hover {
	-webkit-box-shadow: inset 0 0 0 0.2rem #ccc;
	box-shadow: inset 0 0 0 0.2rem #ccc;
	box-shadow: 0 0 4px 0 #ccc;
}
@media only screen and (min-width: 1200px) and (max-width:1400px){
.nav-item.submenu-left.dropdown-submenu > a > span > strong {
    font-size: 17px !important;
}
}

.login-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.48);
    z-index: 99999;
    padding: 20px;
    display: none;
}

div#Customer_Popup_Form {
    max-width: initial;
}
.nav-item.submenu-left.dropdown-submenu > a > span > strong:hover {
	color: #fabe07;
	font-weight: 600;
}
.dynamic-content .level1:nth-of-type(1) .nav-item.submenu-left.dropdown-submenu > a > span > strong:hover,
.dynamic-content .level1:nth-of-type(2) .nav-item.submenu-left.dropdown-submenu > a > span > strong:hover
{
	color: #036d75;
	font-weight: bolder;
}
span.normal-price {
	display: inline-block;
}
.price-box .old-price .price {
	font-size: 13px !important;
	position: relative;
	top: -4px;
}
@media only screen and (min-width: 768px){
	.ves-megamenu.menu-hover .dropdown:hover > .dropdown-menu {
		height: 536px;
	}
	.content-wrap {
		height: inherit;
	}
	.main_all_s {
		height: inherit;
	}
	.level1.nav-dropdown {
		height: inherit;
	}
	.ves-megamenu .row {
		height: inherit;
	}
	.megamenu-content {
		height: inherit;
	}
	.ves-megamenu .dropdown-menu .content-wrap .megamenu-sidebar, .ves-megamenu .dropdown-menu .content-wrap .megamenu-sidebar p, .ves-megamenu .dropdown-menu .content-wrap .megamenu-sidebar img {
height: 536px;
    padding-right: 2.8px;
	}
	.ves-megamenu .dropdown-menu .content-wrap .megamenu-sidebar img {
		width: 100%;
	}
	.level1 .content-wrap .megamenu-content {
		min-height: 300px;
	}
	.level2 .content-wrap .megamenu-content {
		min-height: auto;
	}
}
@media (max-width: 767px) {
	div#Customer_Popup_Form {
		max-width: 100% !important;
	}
	.form-box {
		max-width: initial !important;
		width: 94% !important;
	}
	form#register-form{
		padding: 0 20px !important;
	}
	.form-right-box .panel-heading .col-xs-6 {
		padding: 0 !important;
		width: 48% !important;
	}
	#login-form .pop-form-btn {
		width: 49% !important;
	}
	.products-grid .product-image-photo {
		/* width: auto !important; */
		height: auto !important;
	}
}
@media (min-width: 767px) and (max-width: 991px)
{
	.products-grid .product-image-photo {
		/* width: auto !important; */
		height: auto !important;
	}
}
.totals.fee.excl > td.amount, .totals.extra.excl > td.amount {
   text-align: right;
}

.checkout-cart-index .cart-container .cart.main.actions .action.clear {
    display: inline-block !important;
}
.account .table-wrapper .history a.action.order {
	display: none !important;
}
a.action.order {
	text-transform: uppercase;
	padding: 10px 12px;
}
.recent a.action.order {
	display: none;
}
.block-minicart .minicart-items .product-item-details .product-item-pricing .label {
	width: auto;
	float: left;
	margin-right: 6px;
	margin-top: 4px;
}
.block-minicart .minicart-items .product-item-details .product-item-pricing button
{
	outline: none !important;
	border: none !important;
	overflow: visible;
	display: inline-block;
	background: #444;
	width: auto;
	margin: 0;
	cursor: pointer;
	height: 30px;
	line-height: 30px;
	white-space: nowrap;
	font-size: 100% !important;
	text-transform: uppercase;
	font-weight: 400;
	position: relative;
	padding: 0 4px !important;
	color: #fff !important;
	text-decoration: none !important;
	float: left;
}
.block-minicart .minicart-items .product-item-details .product-item-pricing .update-cart-item {
	float: left;
	width: 95px;
	display: block;
	position: absolute;
	left: 0;
	top: 35px;
	line-height: 24px !important;
	height: 24px !important;
	font-size: 12px !important;
}
.sales-order-history .actions-toolbar {
	margin-top: 7px;
	display: none;
}
.sales-order-history  .column.main .toolbar {
	text-align: unset;
	padding-right: 70px !important;
}
th.col.streetaddress {
	width: 150px !important;
}
td.col.actions a:hover {
	color: #fff !important;
}
.block-minicart .minicart-items .product-item-details .item-qty {
	width: 35px;
	height: 30px;
	margin: 0;
	float: left;
}
@media (min-width: 768px) and (max-width: 991px) {
	.cat-main-name {
		min-height: 225px !important;
	}
	.fix-menu .ves-megamenu > .nav-item > a {
		padding: 0 16px !important;
	}
	.level1 .dorgin-items .dynamic-items {
		background: #0797A1 !important;
		width: 205px !important;
		padding-right: 0px !important;
		height: 100%;
	}
	.account-login {
		padding: 11px 15px !important;
		margin: 0 5px !important;
	}
	.fix-menu .ves-megamenu .dropdown.submenu-left:first-of-type > a {
		width: 175px !important;
		padding-right: 0 !important;
	}
	.col2-layout .category-product.products-grid .item {
		width: 33.3% !important;
	}
}

img.product-dynamic{position:absolute;top:0;left:0;-webkit-transition:1s}
img.product-dynamic.clicked {
    transform: translate3d(500px,-500px,0);
    opacity: 0;
    width: 150px;
    height: 190px;
}
.form-box {
	background: #ffffff !important;
}

#map {
	display: none;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	/*media all*/
	div#Customer_Popup_Form {
		max-width: 100%;
	}
}
@media (min-width:767px)
{
	.col-md-2.col-sm-2.col-xs-12.foot-col {
		width: 14.666667%;
	}
	.col-md-2.col-sm-2.col-xs-12.foot-col.social-foot.fot-1 {
		width: 12.666667%;
	}
	.col-md-2.col-sm-2.col-xs-12.foot-col.social-foot.fot-2 {
		width: 15.666667%;
	}
	.minicart-wrapper .action.showcart .counter.qty {
		top: -18px;
		left: -12px;
	}
	.minicart-wrapper .action.showcart_mobile .counter.qty {
		top: -18px;
		left: -12px;
	}
}
@media (min-width:1200px) and (max-width: 1500px)
{
	.footer-top:before {
		width: 21%;
	}
}
.saleoff-banner img {
width: 100%;
height: auto;
}
a.sho-btn-main {
color: #fff !important;
}
.offer-parent {
   position: absolute !important;
   top: 45%;
   left: 60px;
   margin-top: 0 !important;
   transform: translateY(-50px);
}

.sec-5.sale-banner {
    position: relative;
    margin-bottom: 40px;
}
@media (min-width:991px) and (max-width:1199px)
{
.offer-parent {
   position: absolute !important;
   top: 30%;
   left: 40px;
   margin-top: 0 !important;
   transform: translateY(-45px);
} }
.form-left-box .signup_title {
display: table-cell;
vertical-align: middle;
font-weight: 700;
height: auto !important;
background-size: cover;
padding-right: 20px;
padding-left: 20px;
color: #fff;
font-size: 26px;
line-height: 28px;
position: absolute;
left: 0;
top: 50%;
transform: translateY(-50%);
}
/* new css*/
.pro-cart {
	border: none;
	float: left;
	border-radius: 4px;
	padding: 9px 28px 6px;
	margin: 0;
	background: none;
}
.counter:before,
.counter:after
{
	display: none;
}
.minicart-wrapper .action.showcart .counter.qty {
	/* top: -12px;
	left: -32px; */
	top: 0px;
    left: -20px;
	height: 26px;
	position: relative;
	background: #fabf0b;
	border-radius: 100%;
	border: 1px solid #02a6b2;
	width: 26px;
	line-height: 21px !important;
	font-size: 16px !important;
}
.minicart-wrapper .action.showcart_mobile .counter.qty {
	top: -12px;
	left: -32px;
	height: 26px;
	position: relative;
	background: #fabf0b;
	border-radius: 100%;
	border: 1px solid #02a6b2;
	width: 26px;
	line-height: 21px !important;
	font-size: 16px !important;
}
span.counter-number {
	position: relative;
	top: 2px;
	font-weight: 600;
	color: #000
}
.account-login {
	border: 1px solid #ffffff;
	float: left;
	border-radius: 0;
	padding: 0px 25px;
	margin: 0 12px;
	border-top: 0;
	border-bottom: 0;
	margin-top: 11px;
}
.accout-details h4 {
	color: #ffffff;
}
.accout-details h4 {
	color: #fff;
	font-size: 16px;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 70px;
	margin-top: 6px;
	font-weight: 700;
}
.form-header {
	margin-right: 50px;
}
.hove-box-need-help {
	background: #fff;
	width: 270px;
	position: absolute;
	z-index: 99999;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.44);
	display: none;
	transition: 0.2s;
}
.need-help-has:hover .hove-box-need-help {
	display: block;
}
.box-top h3 {
	color: #333;
	text-align: center;
}
.box-top a {
	color: #333;
	text-align: center;
	display: block;
	font-size: 40px;
	line-height: 40px;
	font-weight: 600;
}
.box-bottom {
	border-top: 1px solid #ccc;
	margin-top: 12px;
	float: left;
	width: 100%;
}
.box-bottom ul li {
	width: 50%;
	float: left;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.box-bottom ul li + li {
	border-left: 1px solid #ccc;
}
.box-bottom ul li a {
	color: #02a6b2;
	font-weight: 600;
	margin-left: 4px;
	padding: 8px 0;
	float: left;
	width: 100%;
	transition: 0.2s;
}
.box-bottom ul li a:hover {
	color: #333;
}
.hove-box-need-help:after {
	bottom: 100%;
	left: 12px;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-width: 7px;
	border-style: solid;
	border-color: transparent transparent #fff;
	border-image: initial;
}
.minicart-wrapper .action.showcart .counter.qty.empty {
	display: block !important;
}
.minicart-wrapper .action.showcart_mobile .counter.qty.empty {
	display: block !important;
}
.shop-by-brand .characters ul.characters-filter {
	list-style: none;
	float: none;
	border: 1px solid #ccc;
	display: table;
	margin: 0 auto;
}
.shop-by-brand .characters ul.characters-filter li + li {
	border-left: 1px solid #ccc;
}
.shop-by-brand .characters ul.characters-filter li a:hover, .shop-by-brand .characters ul.characters-filter li.active a {
	background-color: #02a6b2;
	color: #ffffff;
	border: 1px solid #02a6b2;
}
.shop-by-brand .characters ul.characters-filter li a {
	display: block;
	border: 1px solid transparent;
	height: 30px;
	line-height: 30px;
	width: 30px;
	text-align: center;
	color: #02a6b2;
}
.actions-toolbar a {
	line-height: 35px !important;
}
.block-new-customer .actions-toolbar {
	margin-top: 20px !important;
	display: table;
	margin: 0 auto;
}
.block-new-customer p {
	padding: 0 40px;
}
.block-new-customer p {
	padding: 0 40px;
}
.guest_popup_checkout label.label {
	margin-bottom: 2px !important;
	font-weight: 700 !important;
}
.guest_popup_checkout input {
	height: 40px !important;
}
.guest_popup_checkout .primary button#send2 {
	padding: 2px 0 !important;
}
button#send2 {
}
.secondary {
}
.guest_popup_checkout .primary {
	float: left !important;
	clear: left !important;
}
.guest_popup_checkout .secondary span {
	background: transparent !important;
	color: #10a9b5 !important;
	padding: 0 !important;
	font-weight: 700 !important;
}
.guest_popup_checkout .primary button#send2 span {
	color: #fff !important;
	padding: 10px 12px !important;
	font-weight: 400 !important;
}
.block-authentication .actions-toolbar > .secondary {
	padding-top: 0;
	margin-bottom: 15px;
}
.guest_popup_checkout .field.password.required {
	margin-bottom: 0 !important;
}
.block-new-customer strong#block-new-customer-heading, .block-customer-login strong#block-customer-login-heading {
	text-transform: capitalize;
	font-weight: 500;
}
strong#block-customer-login-heading {
}
.search.results .block {
	display: none;
}
.mst-searchautocomplete__wrapper {
	float: left;
	width: 100%;
	margin-top: 12px;
}
.mst-searchautocomplete__spinner {
	position: relative;
	width: 186px;
	height: 20px;
	margin: 0 auto;
}
.mst-searchautocomplete__spinner .spinner-item {
	position: absolute;
	top: 0;
	background-color: #d8d8d8;
	width: 20px;
	height: 20px;
	animation-name: bounce_fountainG;
	animation-duration: 0.645s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	transform: scale(.3);
	border-radius: 15px
}
.mst-searchautocomplete__spinner .spinner-item.spinner-item-1 {
	left: 0;
	animation-delay: 0.256s
}
.mst-searchautocomplete__spinner .spinner-item.spinner-item-2 {
	left: 20px;
	animation-delay: 0.3225s
}
.mst-searchautocomplete__spinner .spinner-item.spinner-item-3 {
	left: 40px;
	animation-delay: 0.389s
}
.mst-searchautocomplete__spinner .spinner-item.spinner-item-4 {
	left: 60px;
	animation-delay: 0.4555s
}
.mst-searchautocomplete__spinner .spinner-item.spinner-item-5 {
	left: 80px;
	animation-delay: 0.522s
}
.mst-searchautocomplete__spinner .spinner-item.spinner-item-6 {
	left: 100px;
	animation-delay: 0.5885s
}
.mst-searchautocomplete__spinner .spinner-item.spinner-item-7 {
	left: 120px;
	animation-delay: 0.645s
}
.mst-searchautocomplete__spinner .spinner-item.spinner-item-8 {
	left: 140px;
	animation-delay: 0.7115s
}
@keyframes bounce_fountainG {
	0% {
		transform: scale(1);
		background-color: #d8d8d8
	}
	100% {
		transform: scale(.3);
		background-color: #d8d8d8
	}
}
@-o-keyframes bounce_fountainG {
	0% {
		-o-transform: scale(1);
		background-color: #d8d8d8
	}
	100% {
		-o-transform: scale(.3);
		background-color: #d8d8d8
	}
}
@-ms-keyframes bounce_fountainG {
	0% {
		-ms-transform: scale(1);
		background-color: #d8d8d8
	}
	100% {
		-ms-transform: scale(.3);
		background-color: #d8d8d8
	}
}
@-webkit-keyframes bounce_fountainG {
	0% {
		-webkit-transform: scale(1);
		background-color: #d8d8d8
	}
	100% {
		-webkit-transform: scale(.3);
		background-color: #d8d8d8
	}
}
@-moz-keyframes bounce_fountainG {
	0% {
		-moz-transform: scale(1);
		background-color: #d8d8d8
	}
	100% {
		-moz-transform: scale(.3);
		background-color: #d8d8d8
	}
}
.mst-search-autocomplete__typeahead-overlay {
	color: #aaa;
	top: 0;
	position: absolute !important;
	z-index: -1;
	left: 15px;
	border: 0 !important
}
#search_autocomplete, .search-autocomplete, #searchbox_autocomplete {
	/* display: none !important;
	height: 0 !important;
	overflow: hidden !important */
}
#yt-totop-fix {
	right: auto !important;
	left: 30px !important;
}
.pro-cart .accout-ico img {
	margin-top: 2px;
}
.owl-dots .owl-dot:hover, .owl-dots .owl-dot.active {
	background: #02a6b2 !important;
}