<?xml version="1.0"?>
<!--
  ~ Copyright © 2018 IWD Agency - All rights reserved.
  ~ See LICENSE.txt bundled with this module for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_allow_guest">
        <observer name="iwd_subs_guest_checkout_is_available" instance="IWD\BluePaySubs\Observer\GuestCheckoutAvailableObserver" shared="true" />
    </event>
</config>
