<?xml version="1.0"?>
<!--
  ~ Copyright © 2018 IWD Agency - All rights reserved.
  ~ See LICENSE.txt bundled with this module for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="customer" frontName="customer">
            <module name="IWD_BluePaySubs" after="Magento_Customer" />
        </route>
    </router>
</config>
