<?xml version="1.0"?>
<!--
/**
 * Module file
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="Infobeans_FlatRate5" setup_version="1.0.1">
    </module>
</config>